
.tweet-title{
  font-size: 2.4cm;
 }
 .show-container{

  padding-top: 8.5%;
  width: 100%;
  min-width: 800px;
  display: flex;
  height:1300px;
 }
.show-image{
  width: 70%;
  background-color: #333333;
}
.show-pic{
  padding: 5%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}
.show-detail{
  font-size: 3em;
  color: white;
}
.under-bar{
  background-color: #888888;
  height: 160px;
  position: fixed;
  bottom: 0%;
  width: 100%;
  
}
.under-container{
  display: flex;
  padding-left: 5%;
}


.info-title{
  width: 30%;
  font-size: 2.4em;
  color: white;
}
.info-list{
  width: 70%;
  font-size: 2.4em;
  color: white;
}
//右側
.poster-title{
  font-size: 3em;
  text-align: center;
  padding-top: 10%;
}
.poster-container{
  height: 150px;
  background-color: springgreen;
}
.poster-comment{
  height: 50%;
  background-color: seashell;
  font-size: 2.4em;
}


.sub-container{
  width: 30%;
 
}
.info-container{
  height: 30%;

}
.com-container{
  height: 50%;


}
.com-title{
  height: 10%;
}
.com-title-list{
font-size: 4em;
text-align: center;
}
.comment-lists{
  font-size: 2.4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

.comment-list{
  font-size: 2.4em;
  margin-top:auto
}
.comment-text-form{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  position: fixed;
  bottom: 0%; 
  height: 13%;
  background-color:cadetblue;
  z-index:100

}
.form-input{
  font-size: 3em;
  width: 70%;
}

 


 #map {
  width: 1000px;
  height:1000px;
  }

  //吹き出し
  .balloon{
    margin-top: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    z-index: -10;
  }





  .balloon-left {
    position: relative;
    display: inline-block;
    padding: 0 15px;
    width: 80%;
    min-width: 150px;
    height: 60px;
    line-height: 34px;
    text-align: center;
    background:  #24e8eb;
    border: 3px solid #000000;
    z-index: 0;
  }
  .balloon-left:before {
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #24e8eb transparent transparent;
    content: "";
    position: absolute;
    top: 50%; left: -8px;
    margin-top: -9px;
    display: block;
    width: 0px;
    height: 0px;
    z-index: 0;
  }
  .balloon-left:after {
    border-style: solid;
    border-width: 11px 11px 11px 0;
    border-color: transparent #000000 transparent transparent;
    content: "";
    position: absolute;
    top: 50%; left: -12px;
    margin-top: -10px;
    display: block;
    width: 0px;
    height: 0px;
    z-index: -1;
  }

  /*　右向き　*/
.balloon-right {
  position: relative;
  display: inline-block;
  padding: 0 15px;
  width: 80%;
  min-width: 150px;
  height: 60px;
  line-height: 34px;
  text-align: center;
  background: #44FF44;
  border: 3px solid #000000;
  z-index: 0;
}
.balloon-right:before {
  border-style: solid;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #44FF44;
  content: "";
  position: absolute;
  top: 50%; right: -8px;
  margin-top: -9px;
  display: block;
  width: 0px;
  height: 0px;
  z-index: 0;
}
.balloon-right:after {
  border-style: solid;
  border-width: 11px 0 11px 11px;
  border-color: transparent transparent transparent #000000;
  content: "";
  position: absolute;
  top: 50%; right: -12px;
  margin-top: -10px;
  display: block;
  width: 0px;
  height: 0px;
  z-index: -1;
}
  
  
 