// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header{
  position: fixed;z-index:100;//z-index:10;を追加
  text-align:center;
  width: 100%;
}
.header-image{
  width: 100%;
  height: 13vh;
  vertical-align:top;
  position: relative;
}
.WonderingJourney { 
  position: absolute;
  font-size: 6em;
  font-family: Monotype Corsiva, fantasy;
  color: aliceblue;
  right: 0;
  bottom: 30%;

}
.header-btn{
 
  height: 5vh;
  background-color: black;
  display: flex;
  
 
}
.header-left{
  width: 50%;
  font-size: 3rem;
  display: flex;
  list-style: none;
  justify-content: space-around;
  
}
.btn-container{
  width: 25%;
}

.link-btn{

  color: aliceblue;

 
}


.header-right{
  width: 50%;
  font-size: 3rem;
  display: flex;
  list-style: none;
  justify-content: flex-end;
}



main{
  padding-top: 10%;
  height: 100%;
  width: 100%;
  flex: 1;
}


footer{
  // position: fixed;
  // text-align:center;//加える
  background-color: black;
  width: 100vw;
  height: 5vh;
  bottom: 0; /*下に固定*/
  position: fixed;z-index:20;

}
// .footer-image{
//   width: 100vw;
//   height: 15vh;
//   vertical-align:top;//加える
// }

// 詳細


//投稿用



