<main>
  <div class = "tweets-container">
    <% @tweets.each do |tweet| %> 
      <div class = "tweets-image">
        <%# <%= render partial: "tweet", locals: { tweet: tweet } %> %>
      </div>
      <div class = "tweets-comment">
      </div>

    <% end %>
  </div>
</main>
