
<input id ="menu" type="checkbox"/>
<label for ="menu" class="open">🔍</label>
<label for ="menu" class="back"></label>
<%# idとforを同じ"menu"にすることにより、CSS %>
<%# 🍔 %>
<aside>
<%# 🍔 %>
<label for = "menu" class="close">×</label>
<%# 🍔 %>
<nav>
<h2 class = "aside-title">検索<h2>
  <ul class = "search-top">
    <%= form_with(url: search_tweets_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "撮影地で検索する", class: "search-input" %>
      <%= form.submit "検索", class: "search-btn" %>
        <% end %>
    </div>

</nav>
<div class = "bottom-bar">
</div>
</aside>


