/* //indexから */
/* 親要素がrelativeしたら子要素もabsoluteしないと、幅、高さの指定ができなくなる * positionを入れた要素には高さを指定すること */
aside{
  position: absolute;
  height: 100%;
  width: 20%;
  background-color: red;
  min-width: 200px;
}

/* ハンバーガーメニュー実装 */
/* 開け閉めを記入 */
.open,.close{
 display: none;
}
/* チェックボックスの作成 */
input[type = "checkbox"]{
  position: absolute;
  left: -1000px;  
  }
  /* レスポンシブ対応 */
 @media screen and (max-width:1000px){
  .open,.close{
    display: block;
   }
  .open{
    position: absolute;
  }
  aside{
    position: absolute;
    left: -25%;
    height: 100%;
 
    transition: all 0.3s;
    background-color: beige;
  } 
  input[type = "checkbox"]:checked ~ aside{
    left: 0;
  }

  input[type = "checkbox"]:checked ~ .back{
    left: 0;
  }
  
 }

/* サイドバーメニュー入力 */
 .aside-title{
   font-size: 4em;
   text-align: center;
   padding: 5%;
 }
