// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header{
  position: fixed;z-index:300;
  text-align:center;//加える
}
.header-image{
  width: 100vw;
  height: 15vh;
  vertical-align:top;//加える
}
.header-btn{
 
  height: 8vh;
  background-color: black;
  display: flex;
  justify-content: space-between;
}
.header-left{

  font-size: 30px;
  display: flex;
  list-style: none;
}
.edit-link{
  
  color: aliceblue;
  margin-left: 100px;
}


.header-right{
  font-size: 30px;
  display: flex;
  list-style: none;
}
.body{
  display: flex;
}
aside{
  width: 15vw;
  height: 100vh;
  background-color: gainsboro;
}
main{
  width: 80vw;
  padding-top: 25vh;
  flex: 1;
}


footer{
  // position: fixed;
  // text-align:center;//加える
  background-color: black;
  width: 100vw;
  height: 5vh;
}
// .footer-image{
//   width: 100vw;
//   height: 15vh;
//   vertical-align:top;//加える
// }
//indexから

.right-title{
display: flex;
height: 10vh;
}
.search-top{
  text-align: center;
  width: 70vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-form{
  height: 5vh;
}
.search-input{
  width: 20vw;
}
.comment-title{
  width: 30vw;
}

.tweets-container{
 display: flex;
}
.tweet-image{
  width: 70vw;
}
.tweet-title{
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}
.post-place{
  font-size: 30px;
}
.post-name{
  font-size: 20px;
}
.tweets-comment{
  width: 30vw;
  background-color: burlywood;
  position: relative;z-index:100;
}
.comment-title{
  font-size: 30px;
  text-align :center;
}
.tweet-text{
  font-size: 25px;
  padding-bottom: 0;
}
.each-comment{
  display: flex;
  justify-content: space-between;
}
.in-comment{
  font-size: 25px;
}
.comment-name{
  font-size: 15px;
}
.btn-input{
  position: absolute;
  bottom: 0;

}
// .fuki{
//  position: relative;
// }
// .incomment{
//   position: absolute;
// }


// 詳細
.tweet-title{
  
  display: flex;
  width: 50vw;
}

 .map{
    width: 700px;
    height: 400px;
}

