// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top-logo-class{
  position: fixed;
  text-align:center;
}
.header-image{
  width: 100vw;
  height:20vh;
  vertical-align:top;//加える
}
.header-btn{
 
  height: 8vh;
  background-color: black;
  display: flex;
  justify-content: space-between;
  
  
}
.header-left{

  font-size: 30px;
  display: flex;
  list-style: none;
}
.edit-link{
  
  color: aliceblue;
  margin-left: 100px;
}


.header-right{
  font-size: 30px;
  display: flex;
  list-style: none;
}
//indexから

main{

  
}
.search-top{
display: flex;
justify-content: center;
}
.search{
  height: 5vh;
}
.search-input{
  width: 20vw;
 
}
.tweets-each{
  display: flex;
  justify-content: space-between;
}
.tweets-container{
 

}
.tweet-image{
  width: 70vw;
}
.tweets-title{
  font-size: 30px;
  height: 5vh;
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.tweets-comment{
  
  width: 30vw;
}
.comment-title{
  font-size: 30px;
  text-align :center;
}
.tweet-text{
  font-size: 25px;
  padding-bottom: 0;
}
// .fuki{
//  position: relative;
// }
// .incomment{
//   position: absolute;
// }


// 詳細
.tweet-title{
  
  display: flex;
  width: 50vw;
}

 .map{
    width: 700px;
    height: 400px;
}

.search-contents {
  margin-top: 50px;
}
