// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html{
  font-size: 62.5%;
}
header{
  position: fixed;z-index:100;//z-index:10;を追加
  text-align:center;
  width: 100%;
}
.header-image{
  width: 100%;
  height: 13vh;
  vertical-align:top;
  position: relative;
}
.WonderingJourney { 
  position: absolute;
  font-size: 6em;
  font-family: Monotype Corsiva, fantasy;
  color: aliceblue;
  right: 0;
  bottom: 30%;

}
.header-btn{
 
  height: 5vh;
  background-color: black;
  display: flex;
  
 
}
.header-left{
  width: 50%;
  font-size: 3rem;
  display: flex;
  list-style: none;
  justify-content: space-around;
  
}
.btn-container{
  width: 25%;
}

.link-btn{

  color: aliceblue;

 
}


.header-right{
  width: 50%;
  font-size: 3rem;
  display: flex;
  list-style: none;
  justify-content: flex-end;
}


main{
  padding-top: 10%;
  width: 100%;
  flex: 1;
}


footer{
  // position: fixed;
  // text-align:center;//加える
  background-color: black;
  width: 100vw;
  height: 5vh;
  bottom: 0; /*下に固定*/
  position: fixed;z-index:20;

}
// .footer-image{
//   width: 100vw;
//   height: 15vh;
//   vertical-align:top;//加える
// }
//indexから
.index-container{
height: 100%;
width: 100%;
display: flex;
}
aside{
  width: 100% - 85%;
  height: 1000vh;
  background-color: gainsboro;
  position: fixed;z-index:10;
}
.main-side-index{

  height: 100%;
  padding-left:100% - 85%;
  width: 100%;
}

.search-top{
  width: 100% - 15%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: aquamarine;
  
}
.search-form{

  font-size: 2.0em;
  
}
.search-input{
  width: 20vw;
  height: ５％;
  font-size: 2.0em;
}


.tweets-container{
 

 padding-top: 10%;
 margin-left: 15%; 
}
.tweet-image{

  width: 50%;
  height: 50%;
  padding: 1%;
}
.tweet-title{
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}
.post-place{
  font-size: 40px;
}
.post-name{
  font-size: 40px;
}

.get-comment{
  display: flex;
  justify-content: space-between;
}

// .fuki{
//  position: relative;
// }
// .incomment{
//   position: absolute;
// }


// 詳細
.main-detail{
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction:column;
  align-items: center;
  }
p{
  font-size: 8vh;
}
.tweet-title{
 display: flex;
 padding-left: 20%;
 font-size: 30px;
}
.main-container{
  display: flex;
  justify-content: center;
  margin: 1%;
  padding-left: 20%;

}

.post-form{
  padding-top: 5%;
  padding-left: 15%;
}


.main-map{
  width: 50%;
}

 .map{
    width: 100px;
    height: 100px;
}
.detail-and-map{
  display: flex;

}

